body {
  font-family: var(--main-font);
  position: relative;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 15px;
  padding-right: 15px;
  @include media-min(mobile-resp) {
    width: 480px;
  }

  @include media-min(tablet) {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-min(desktop) {
    width: 1280px;
  }
  @include media-min(fullHD) {
    width: 1900px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.contact-btn {
  width: 254px;
  height: 48px;
  background-color: #fbd341;
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  &:hover,
  &:focus {
    cursor: pointer;
    color: #fff;
    background-color: #22334d;
  }
}

a:hover,
a:focus {
  color: #9b9b9b;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}
