/**
    |============================
    | Base styles
    |============================
  */
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--main-txt-cl);

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--main-txt-cl);

    margin-right: 20px;
  }
}

.uppertitle-theme-dark {
  color: var(--grey-cl-60);

  &::before {
    content: '';
    background-color: rgba(157, 164, 189, 0.6);
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }
}

.title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: var(--light-txt-cl);
}

.undertitle {
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-cl);
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-txt-cl);

  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

.btn-theme-dark {
  color: var(--light-txt-cl);
}

.btn-theme-dark:hover,
.btn-theme-dark:focus {
  background-color: var(--accent-bg-cl);
}

button {
  cursor: pointer;
  display: block;
}

.transparency {
  background-color: black;
}
