.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-conatiner {
  display: flex;
  justify-content: start;
  height: 445px;
}

.about-desc {
  width: 470px;
}
.about-desc__intro {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
  margin-bottom: 42px;
}

.about__list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.about-desc__uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-text-color);
  &::before {
    content: '';
    height: 1px;
    border-bottom: 1px solid var(--main-text-color);
    display: block;
  }
}

.about-desc__title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--main-text-color);

  margin-bottom: 20px;
}

.about__item {
  overflow: hidden;

  &:hover .about__img {
    transform: scale(1.2);
  }
}

.about__img {
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 445px;
}

.about-desc__undertitle {
  line-height: calc(30 / 18);

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);

  margin-bottom: 20px;
}
.about-btn {
  padding: 12px 20px;
  width: 165px;
  height: 40px;

  color: var(--dark-txt-cl);

  border: 1px solid #ff6c00;
  border-radius: 25px;
}
