.benefits {
  padding: 85px 0;

  @include media-min(tablet) {
    padding: 100px 0;
  }
  @include media-min(desktop) {
    padding: 120px 0;
  }
}

.benefits-container {
  display: flex;
  flex-direction: column-reverse;

  @include media-min(desktop) {
    flex-direction: row;
  }
}

.benefits__quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;

  position: relative;
  display: inline-block;
}

.benefits__decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;

  position: absolute;
  top: 7px;
  right: -15px;
}

.benefits__text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);

  color: #303030;
}

.benefits__list {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include media-min(tablet) {
    width: 370px;
    margin-right: 0;
  }
  @include media-min(desktop) {
    margin-right: auto;
  }
}

.benefits__item {
  max-width: 193px;
  min-height: 133px;
  padding: 20px 24px;
  background-color: #f7f7f7;
  text-align: center;
  &:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
  }
  @include media-min(tablet) {
    width: 170px;
    min-height: 133px;
  }
}

.rewievs__title {
  margin-bottom: 20px;

  &::before {
    content: '?';
    transform: rotate(180deg);
  }
}

.rewievs__undertitle {
  max-width: 420px;
  font-size: 14px;
  @include media-min(tablet) {
    color: var(--dark-txt-cl);
    max-width: 500px;
    font-size: 18px;
  }
}
