.contacts-container {
  padding: 85px 15px;
  margin-left: auto;
  margin-right: auto;

  @include media-min(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 15px;
  }

  @include media-min(desktop) {
    padding: 120px 015px;
    flex-direction: row;
  }
}

.contacts__title {
  text-align: center;

  @include media-min(tablet) {
    width: 767px;
  }
  @include media-min(desktop) {
    width: 195px;
  }
}

.contacts-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);

    margin-right: 20px;
  }
}

.contacts-list {
  margin-bottom: 70px;

  @include media-min(tablet) {
    margin-bottom: 0;
  }
}

.contacts-schedule {
  color: var(--grey-cl);
}

.contacts__title--dark {
  color: var(--light-txt-cl);
  margin-bottom: 40px;
}

.contacts-list__link {
  font-weight: 700;
  color: #9da4bd;
  font-style: normal;
  letter-spacing: 0.02em;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.working-hours__uppertitle {
  color: var(--light-txt-cl);
  margin-bottom: 20px;
  display: block;
  text-align: center;
  
  @include media-min(desktop) {
    text-align: start;
  }
}
