.header {
  display: none;
  margin-left: auto;
  margin-right: auto;

  @include media-min(tablet) {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    transition: 300ms linear;
  }

  @include media-min(desktop) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    transition: 300ms linear;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  @include media-min(tablet) {
    width: 70px;
  }
  @include media-min(desktop) {
    margin-right: 75px;
    margin-left: 10px;
  }
}

.header-nav {
  display: none;
  @include media-min(tablet) {
    display: block;
    justify-content: left;
  }
}

.header-nav__list {
  @include media-min(tablet) {
    display: flex;
    margin-right: 90px;
    margin-left: 60px;
    gap: 15px;
  }
  @include media-min(desktop) {
    gap: 30px;
    margin-right: 310px;
  }
}

.header-nav__link,
.header-contact__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}

.header-contact {
  display: none;

  @include media-min(tablet) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  @include media-min(desktop) {
    flex-direction: row;
  }
}

.header-contact__link {
  margin-right: 0;

  @include media-min(desktop) {
    margin-right: 40px;
  }
  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-nav__link {
  padding-top: 12px;
  padding-bottom: 20px;
  display: block;
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  &.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-txt-cl);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.hero-btn {
  padding: 12px 20px;
  width: 165px;
  height: 40px;

  color: #ffffff;

  border: 1px solid #ff6c00;
  border-radius: 25px;

  @include media-min(tablet) {
    margin: 10px 0;
  }
  @include media-min(desktop) {
    margin: 0;
  }
}

.header-scroll-dark {
  background-color: #363636;
  & .header_logo {
    transition: fill 300ms linear;

    fill: #fff;
  }
}
