.address {
  color: #f3f3f3;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  // margin-bottom: 18px;
  font-size: 12px;
  // @include media-min(laptop) {
  //   margin-bottom: 0;
  // }
  @include media-min(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.top-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  @include media-min(desktop) {
    margin-left: 100px;
  }
  @include media-min(fullHD) {
    margin-left: 330px;
  }
}
.adress__info {
  color: #f3f3f3;
  margin-bottom: 5px;

  @include media-min(desktop) {
    margin-bottom: 0;
    margin-right: 55px;
  }
}
.main-wrapper {
  background-color: lightgray;
  background-image: url(../../images/hero-banner_@1x_result.jpg);
  background-size: cover;
  background-position: center;
  height: 575px;

  @include media-min(desktop) {
    height: 735px;
  }
}

.header {
  @include media-min(desktop) {
    height: 300px;
  }
}

.header-nav {
  position: relative;
  height: 300px;
  width: 760px;
  display: none;
  @include media-min(desktop) {
    display: block;
    margin-left: 350px;
  }
  @include media-min(fullHD) {
    margin-left: 770px;
  }
}

.nav-list {
  border-radius: 10px;
  padding: 11px 25px;
  background-color: #fbd341;

  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-list__item {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.nav-list__item div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav-list__item img {
  height: 8px;
}

.dropdown-menu-1 li {
  padding: 8px 0;
}

.dropdown-menu-1 {
  display: none;
  position: relative;
  top: 0;
  left: 21%;
  width: 195px;
}

.dropdown-menu-2 {
  display: none;
  width: 240px;
  position: relative;
  top: 0px;
  left: 47%;
}

.dropdown-menu-2 li {
  padding: 8px 0;
}

.dropdown-menu {
  padding: 25px 20px;
  color: #fff;
  opacity: 0.8;
  background-color: #3397e2;
  box-shadow: -1px 4px 15px 0px rgba(0, 0, 0, 0.34);
}

.dropdown-menu-1.visible,
.dropdown-menu-2.visible {
  display: block; /* Показываем выпадающее меню, если есть класс visible */
}

.socials {
  display: none;
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
}

.adress-wrapper {
  display: none;
  @include media-min(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
}
