.hero {
  padding-top: 80px;
}

.hero-title {
  color: var(--accent-txt-cl);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 100px;
  @include media-min(desktop) {
    margin-left: 100px;
    margin-bottom: 45px;
    font-size: 30px;
  }
  @include media-min(fullHD) {
    margin-left: 325px;
  }
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  @include media-min(desktop) {
    margin-left: 100px;
  }
  @include media-min(fullHD) {
    margin-left: 325px;
  }
}
