.order .container {
  @include media-min(desktop) {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include media-min(fullHD) {
    padding-left: 390px;
    padding-right: 390px;
  }
}

.order-form {
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 52px;
  padding-bottom: 52px;
  text-align: center;
  @include media-min(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.order {
  background-image: url(./../images/corals.png);
  background-size: cover;
  background-position: center;
}

input[type='text'] {
  color: white;
}
label {
  font-size: 18px;
  line-height: 30px;
  color: #e6e6e6;
  position: absolute;
  top: -30%;
  left: 10%;

  @include media-min(desktop) {
    left: 20%;
    top: -50%;
  }
}

input {
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e6e6e6;

  @include media-min(desktop) {
    width: 71%;
  }
}

input:focus {
  outline: none;
}

.form-group {
  position: relative;
  margin-bottom: 20px;

  @include media-min(desktop) {
    margin-bottom: 0;
  }
}

#select-country {
  position: static;
}

.form-group:not(:last-of-type):focus-within label {
  top: -100%;
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.form-group:focus-within input {
  border-color: #333;
}

.form-btn {
  margin-top: 50px;

  @include media-min(desktop) {
    margin-top: 0;
  }
}

.order-title {
  text-align: center;
  color: #fff;

  font-size: 24px;
  font-weight: 700;
  margin-bottom: 34px;

  @include media-min(desktop) {
    text-align: left;
  }
}

.form-group:last-child {
  display: flex;
  flex-direction: column;
}
